---
---

@import "{{ site.theme }}";

// https://css-tricks.com/almanac/properties/p/page-break/
@media print {
	h2 {
		page-break-before: always;
	}
	h3, h4 {
		page-break-after: avoid;
	}
	pre, blockquote, strong, a {
		page-break-inside: avoid;
	}
}

a {
	color: #cc3c37;
	transition: color .2s;
	font-weight: 600;
}

a:hover, a:focus {
	color: #aa0b02;
	font-weight: 600;
}

strong {
	font-size: 1.2rem;
}

header {
	p {
		font-size: 1.2rem;
	}
}

.flat-list {
	padding: 0;
	margin: 1rem 0;
	list-style-type: none;
	li {
		padding: 0;
		display: inline-block;
	}
}

.smaller {
	font-size: 0.8rem;

	h2, h3, h4, p {
		margin-bottom: 0.5rem;
	}
}

.qrcode {
	width: 237px;
	.caption {
		display: none;
	}
}

@media print {
	.qrcode {
		width: 80%;
		.caption {
			display: block;
			text-align: center;
		}
	}
}